*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.main-content{
    margin-left: 180px;
    background-color: white;
    color:black;
}

.wrapper{
    border: 1px solid black;
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: block;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 90%;
}


table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #409934;
    border-radius: 4px;
    padding: 1%;
    color: white;
    width: 130px;
    margin-top: 0px;
    position: absolute;
    margin-left: 1020px;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #2b6822;
}

.btn-primary-man{
    background-color: #409934;
    border-radius: 4px;
    padding: 1%;
    color: white;
    width: 140px;
    margin-top: 0px;
    position: absolute;
    margin-left: 1000px;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary-man:hover{
    background-color: #2b6822;
}






